{% extends "quiz_app/main.html" %}
{% block link %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock link %}

{% block body %}
<form action="" method="post">  <div class="card" style="max-width: 30rem;margin-left:auto;margin-right:auto">
  {% csrf_token %}
  <div class="card-body">
    <h1 class="card-title" style="padding-bottom: 20px;">Quiz App</h1>
    <p class="card-text">Hello 

      {% if user.is_authenticated %}
              <span style="font-size:20px">{{request.user}}</span> !
      {% else %}
              <span style="font-size:20px">there </span> !

      {% endif %}
       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">instructions</h5>
    <ol>
      <li><p>This quiz has 10 questions.</p></li>
      <li><p>Each has four options, among which one will be most appropriate </p></li>
    </ol>
  </div>
</div>
        <p class="card-subtitle mb-2 text-body-secondary" style="margin-top:30px;font-weight:500">Wanna play this amazing quiz?</p>

   <div style="margin-left: 160px;margin-top:50px;font-size:20px">
    <input type="submit" name="" class="card-link" style="font-size: 30px;font-weight:700" value="Play"></div>
  </div>
</div></form>
{% endblock body %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% endblock script %}